{:paths ["src" "resources"]

 :jolt/min-version "0.8.0"

 :jolt/aspects
 {:library {:id chucklehead-dev/jolt-hegel
            :version "86a70acf7880184707a77069b60b2e8fd4acbbbb"}
  :namespaces [hegel.core hegel.stateful]
  :manifest "resources/META-INF/jolt/aspects/hegel.edn"}

 :aliases
  {:jvm {:extra-deps
         {io.github.babashka/ffi
          {:git/url "https://github.com/babashka/ffi.git"
           :git/sha "aacb153618bc39ca1e4c397b8f30fb81c76d0c4c"}}}
   :setup-native {:main-opts ["-m" "hegel.install"]}
   :abi-test {:extra-paths ["script"]
              :main-opts ["-m" "hegel.abi-check"]}
   :jank-codegen {:extra-paths ["script"]
                  :main-opts ["-m" "hegel.generate-jank-bindings"]}
   :clr-codegen {:extra-paths ["script"]
                 :main-opts ["-m" "hegel.generate-clr-bindings"]}
   :test {:extra-paths ["test"]
         :extra-deps {metosin/malli {:mvn/version "0.20.1"}}
         :main-opts ["-m" "hegel.test-runner"]}
  :fetch-libhegel {:extra-paths ["script"]
                   :main-opts ["-m" "fetch-libhegel"]}}

 :tasks
 {setup-native "jolt -M:setup-native"
  abi-test "jolt -M:abi-test"
  fetch-libhegel "jolt -M:fetch-libhegel"
  test "jolt -M:test"}}
