{:paths ["src"]

 :aliases
  {:setup-native {:main-opts ["-m" "hegel.install"]}
   :test {:extra-paths ["test"]
         :main-opts ["-m" "hegel.test-runner"]}
  :fetch-libhegel {:extra-paths ["script"]
                   :main-opts ["-m" "fetch-libhegel"]}}

 :tasks
 {setup-native "jolt -M:setup-native"
  fetch-libhegel "jolt -M:fetch-libhegel"
  test "jolt -M:test"}}
