{:cljc {:features #{:clj}}
 :lint-as
 {hegel.generator/let clojure.core/let
  jolt.ffi/with-alloc clojure.core/let}
 :linters
 {:redefined-var
  {:level :off}
  :unused-private-var
  {:exclude [hegel.host/join-path]}}
 :hooks
 {:analyze-call
  {hegel.clojure-test/with hooks.hegel/clojure-test-with
   hegel.host/try-catch-all hooks.hegel/try-catch-all}}}
